# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc

# Functions
functions/node_modules/
functions/lib/

# Android
android/local.properties
android/.gradle/
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner/GoogleService-Info.plist

# Secrets / env
*.env
.env*

# macOS
.DS_Store
