#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
// Remplace cette valeur par le champ REVERSED_CLIENT_ID de ton GoogleService-Info.plist
// Format : com.googleusercontent.apps.412115504586-XXXXXXXXXXXXXXXX
REVERSED_CLIENT_ID = com.googleusercontent.apps.412115504586-28nlqhb0264o2jtde57vr0e9ourlitlo
